* {
  box-sizing: border-box;
}
body {
  background-color: #2d353c;
}
.lesson {
  color: white;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.title {
  padding-top: 40px;
  color: #a6d1e9;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.card {
  top: 50%;
  left: 50%;
  z-index: 2;
  width: 300px;
  height: 420px;
  color: white;
  overflow: hidden;
  position: absolute;
  text-align: center;
  border-radius: 10px;
  box-shadow: 3px 3px 20px 2px rgba(0, 0, 0, 0.5);
  transform: translate(-50%, -50%);
}
.card::before {
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  content: "";
  opacity: 0.4;
  position: absolute;
  border-radius: 10px;
  background-size: cover;
  background-image: url("../images/background.jpg");
}
.date {
  display: flex;
}
.date img {
  height: 13px;
  background-position-x: left;
  padding: 0px 5px 0px 15px;
}
.date li {
  list-style: none;
  align-items: center;
}
.date {
  left: -30px;
  bottom: 10px;
  opacity: 0.6;
  font-size: 14px;
  position: absolute;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.yellow {
  width: 40px;
  height: 2px;
  display: flex;
  background-color: orange;
  transform: translateX(320%);
}
.comment {
  margin: auto;
  width: 150px;
  color: white;
  font-size: 14px;
  font-weight: 600;
  padding-top: 20px;
  font-style: italic;
}
.lorem {
  margin: auto;
  width: 210px;
  font-size: 15px;
  font-weight: 600;
  line-height: 1.2;
  padding-top: 70px;
  font-family: serif;
  position: absolute;
  bottom: 0%;
  left: 50%;
  opacity: 0;
  transition-duration: 0.4s;
  transform: translateX(-50%);
}
.card:hover .lorem {
  bottom: 100px;
  opacity: 1;
}
